.notes-root {
    height: 100%;
}

.notes-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.notes-body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px;
    height: calc(100% - 20px);
}

.notes-body .notes-plain-text,
.notes-body .notes-md {
    height: 100%;
    flex: 1 1;
}

button {
    background-color: var(--background-color);
    color: var(--text-color);
    border: 1px solid var(--border-color);
    cursor: pointer;
    outline: none;
}

button:hover {
    background-color: var(--border-color);
    color: var(--background-color);
    border: 1px solid var(--text-color);
    cursor: pointer;
    outline: none;
}

@keyframes bounce_in {
    0% {
        opacity: 0.8;
        transform: scale(0.2);
    }

    80% {
        opacity: 0;
        transform: scale(1.2);
    }

    100% {
        opacity: 0;
        transform: scale(2.2);
    }
}

button:active {
    animation: myAnim 200ms linear 0s 1 normal none;
}

.notes-plain-text,
.notes-md {
    background-color: var(--background-color);
    text-align: start;
    color: var(--text-color);
    outline: none;
    border: none;
    resize: none;
    overflow: scroll;
    overflow-wrap: unset;
    word-wrap: unset;
    text-wrap: unset;
    -webkit-word-wrap: unset;
    -ms-word-wrap: unset;
    hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    overflow: auto;
}